* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

#container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

#category-nav {
  display: flex;
  gap: 1rem;

  button {
    background-color: #fff;
    padding: 1rem;
    border: none;
  }
}

#resource_archive {
  display: flex;
  background-color: #fff;
  padding: 1rem;
}
